.advantages {
  position: relative;
  padding-top: 10px;
  padding-bottom: 1px;

  &_bg_blue {
    padding-bottom: 0;
    background-color: #81b3d2;
  }

  &_bg_grey {
    background-color: #eeeeee;
    position: relative;
  }

  &_bg_grey:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 20px;
    right: 20px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:first-child {
    padding-top: 50px;
  }

  &:first-child::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 37px;
    background: url("../img/bg-triangle.svg") no-repeat 50% 50%;
  }
}

.advantages__description {
  margin-bottom: 30px;
}

.advantages__photo {
  display: block;
}
