.advantages {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 12px;
  padding-bottom: 10px;

  &_bg_blue {
    padding-bottom: 0;
    background-color: #81b3d2;
  }

  &_bg_grey {
    padding-top: 0;
    background-color: #eeeeee;
    position: relative;
  }

  &_bg_grey:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 20px;
    right: 20px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:first-child {
    padding-top: 50px;
  }

  &:first-child::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 37px;
    background: url("../img/bg-triangle.svg") no-repeat 50% 50%;
  }
}

.advantages__description {
  margin-bottom: 40px;
}

.advantages__photo {
  margin: auto;
}

.advantages__main {
  margin-top: 12px;
}

.advantages__title {
  margin-bottom: 10px;
}

.advantages__number {
  margin-top: 0;
}

.advantages__description_grey {
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .advantages__main {
    width: 33%;
    margin: auto;
  }

  .advantages__photo {
    width: 67%;
  }

  .advantages_bg_grey {
    width: 33%;
  }

  .advantages__detailed-list {
    flex-grow: 1;
  }

  .advantages_bg_grey .advantages__main {
    width: 100%;
  }

  .advantages:nth-child(2) .advantages__photo {
    order: -1;
  }
}
