.controls {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  box-sizing: border-box;
  font-size: 0;
  z-index: 1;
  background-color: #f2f2f2;
}

.controls__refresh {
  margin-left: -2px;
  margin-right: 104px;
}

.controls__fullscreen {
  margin-right: -4px;
}

.controls__range {
  position: absolute;
  top: -45px;
  left: 0;
}

@media (min-width: @tablet-width) {
  .controls {
    height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .controls__range {
    position: static;
    min-height: 0;
  }

  .controls__refresh {
    margin-left: 7px;
    margin-right: 0;
  }

  .controls__subtitles {
    margin-top: 3px;
    margin-right: -6px;
  }

  .controls__fullscreen {
    margin-right: 13px;
    margin-top: 3px;
  }
}

@media (min-width: @desktop-width) {
  .controls__subtitles {
    margin-top: 2px;
    margin-right: -9px;
  }

  .controls__fullscreen {
    margin-top: 2px;
  }
}
