.details {
  padding-top: 13px;
  padding-bottom: 8px;
  background-color: #ffffff;
}

.details__description {
  margin-top: 0;
  margin-left: 70px;
  margin-bottom: 28px;
}

.details__title {
  margin-top: 23px;
  margin-bottom: 14px;
  margin-left: 70px;
}

@media (min-width: @tablet-width) {
  .details {
    display: flex;
    flex-grow: 1;
    margin: auto;
  }

  .details__item {
    width: 33%;
  }
}
