.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__fields-required {
  margin-left: 150px;
}

@media (min-width: @tablet-width) {
  .feedback-form {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
