.field {
  &_first-name {
    width: 190px;
    padding: 10px 20px;
  }

  &_second-name {
    width: 153px;
    padding: 10px 20px;
  }

  &_middle-name {
    width: 157.5px;
    padding: 10px 20px;
  }

  &_phone-number {
    width: 240px;
    padding: 10px 20px;
  }

  &_email {
    width: 240px;
    padding: 10px 20px;
  }

  &_textarea {
    width: 240px;
    height: 160px;
    padding: 10px 20px;
  }

  &::placeholder {
    color: #000000;
  }
}
