.field {
  padding: 15px 0 15px 20px;
  box-sizing: border-box;
  width: 100%;

  &_textarea {
    height: 160px;
  }

  &_radio,
  &_checkbox {
    width: 30px;
  }

  &::placeholder {
    color: #000000;
  }
}

@media (min-width: @desktop-width) {
  .field {
    padding: 13px 0 17px 20px;
  }
}
