.nav-list {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
}

@media (min-width: @tablet-width) {
  .nav-list {
    flex-direction: row;
  }

  .nav-list__item {
    width: 20%;
  }

  .nav-list__item:nth-child(2) {
    margin-right: 20%;
  }
}
