.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__video {
  margin: auto;
}

.page-main__feedback-form {
  margin: 0 20px;
}

@media (min-width: @tablet-width) {
  .page-main__feedback-form {
    margin: 0 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__feedback-form {
    margin: 0 240px;
  }
}
