.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__hash {
  display: block;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
  }
}

.page-footer__social-list {
  margin: auto;
}
