.photo {
  padding-left: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;

  &:first-child {
    padding-top: 5px;
    border-top: 1px solid #e5e5e5;
  }

  &__likes {
    padding-left: 40px;
  }
}
