.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photos__item {
  margin: auto;
}

@media (min-width: @tablet-width) {
  .photos__item {
    margin: 0;

    .photo__image {
      width: 100%;
      height: 267px;
    }

    &:first-child .photo__image {
      width: 100%;
      height: 400px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photos__item {
    .photo__image {
      width: 100%;
    }

    &:first-child .photo__image {
      width: 100%;
    }
  }
}
