.search-hotel__intro {
  margin-top: 2px;
  margin-bottom: 35px;
}

.search-hotel__search-button {
  margin: auto;
  margin-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .search-hotel {
    width: 470px;
  }

  .search-hotel__intro {
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .search-hotel__intro {
    margin-bottom: 44px;
  }
}
