.social-link {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social-link svg {
  margin: auto;
}

.social-link:active svg {
  opacity: 0.3;
}

.social-link path {
  fill: #ffffff;
}
