@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
@retina-dppx: 1.5dppx;

.visually-hidden {
  position: absolute;
  z-index: -1;

  width: 0.1px;
  height: 0.1px;

  margin: 0;
  padding: 0;
  border: none;

  font-size: 0.1px;
  white-space: nowrap;
  color: transparent;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.hide {
  display: none;
}

.show {
  display: block;
}

@import "fonts.less";
@import "blocks/clip.less";
@import "blocks/page-body.less";
@import "blocks/page-header.less";
@import "blocks/list-reset.less";
@import "blocks/text.less";
@import "blocks/nav-list.less";
@import "blocks/nav-link.less";
@import "blocks/welcome.less";
@import "blocks/welcome-img.less";
@import "blocks/features.less";
@import "blocks/advantages.less";
@import "blocks/details.less";
@import "blocks/details-point.less";
@import "blocks/map.less";
@import "blocks/main-nav.less";
@import "blocks/modal.less";
@import "blocks/page-main.less";
@import "blocks/photos.less";
@import "blocks/photo.less";
@import "blocks/promo-video.less";
@import "blocks/video.less";
@import "blocks/video-scale.less";
@import "blocks/video-range.less";
@import "blocks/video-button.less";
@import "blocks/controls.less";
@import "blocks/page-footer.less";
@import "blocks/button.less";
@import "blocks/hotel.less";
@import "blocks/search-hotel.less";
@import "blocks/feedback-form.less";
@import "blocks/feedback-fieldset.less";
@import "blocks/fieldset-title.less";
@import "blocks/input-list.less";
@import "blocks/input-item.less";
@import "blocks/field.less";
@import "blocks/social.less";
@import "blocks/social-link.less";
@import "blocks/copyright-link.less";
@import "blocks/copyright.less";
